[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "qbridgeattack/chainbridge-solidity"]
	path = qbridgeattack/chainbridge-solidity
	url = https://github.com/ChainSafe/chainbridge-solidity.git
[submodule "qbridgeattack/healthy-contracts"]
	path = qbridgeattack/healthy-contracts
	url = https://github.com/ChainSafe/chainbridge-solidity.git
[submodule "qbridgeattack/-b"]
	path = qbridgeattack/-b
	url = https://github.com/ChainSafe/chainbridge-solidity.git
[submodule "qbridgeattack/buggy-contracts"]
	path = qbridgeattack/buggy-contracts
	url = https://github.com/ChainSafe/chainbridge-solidity.git
[submodule "lifiattack/healthy-contracts"]
	path = lifiattack/healthy-contracts
	url = https://github.com/lifinance/contracts.git
[submodule "lifiattack/buggy-contracts"]
	path = lifiattack/buggy-contracts
	url = https://github.com/lifinance/contracts.git
[submodule "meterattack/buggy-contracts"]
	path = meterattack/buggy-contracts
	url = https://github.com/Uniswap/v2-periphery.git
[submodule "meterattack/healthy-contracts"]
	path = meterattack/healthy-contracts
	url = https://github.com/Uniswap/v3-periphery.git
[submodule "nomadattack/buggy-contracts"]
	path = nomadattack/buggy-contracts
	url = https://github.com/nomad-xyz/monorepo.git
[submodule "nomadattack/healthy-contracts"]
	path = nomadattack/healthy-contracts
	url = https://github.com/nomad-xyz/monorepo.git
[submodule "polyattack/healthy-contracts"]
	path = polyattack/healthy-contracts
	url = https://github.com/polynetwork/eth-contracts.git
[submodule "polyattack/buggy-contracts"]
	path = polyattack/buggy-contracts
	url = https://github.com/polynetwork/eth-contracts.git
[submodule "chainswapAttack/healthy-contracts"]
	path = chainswapAttack/healthy-contracts
	url = https://github.com/makevoid/chainswap-contracts.git
[submodule "creamfiattack/compound-protocol"]
	path = creamfiattack/compound-protocol
	url = https://github.com/CreamFi/compound-protocol.git
[submodule "creamfiattack/--force"]
	path = creamfiattack/--force
	url = https://github.com/CreamFi/compound-protocol.git
[submodule "elasticswsapattack/buggy-contracts"]
	path = elasticswsapattack/buggy-contracts
	url = https://github.com/ElasticSwap/elasticswap.git
[submodule "nxattack/healthy-contracts"]
	path = nxattack/healthy-contracts
	url = https://github.com/orbs-network/twap.git
[submodule "saddleattack/attackvectors/attack_vector2"]
	path = saddleattack/attackvectors/attack_vector2
	url = https://github.com/Hephyrius/Immuni-Saddle-POC.git
[submodule "saddleattack/buggy-contracts"]
	path = saddleattack/buggy-contracts
	url = https://github.com/saddle-finance/saddle-contract.git
[submodule "saddleattack/healthy-contracts"]
	path = saddleattack/healthy-contracts
	url = https://github.com/saddle-finance/saddle-contract.git
[submodule "pbattack/buggy-contracts"]
	path = pbattack/buggy-contracts
	url = https://github.com/PancakeBunny-finance/Bunny.git
[submodule "pbattack/healthy-contracts"]
	path = pbattack/healthy-contracts
	url = https://github.com/PancakeBunny-finance/Bunny.git
[submodule "waultattack/WAULT"]
	path = waultattack/WAULT
	url = https://github.com/WaultFinance/WAULT.git
[submodule "dfxattack/contracts"]
	path = dfxattack/contracts
	url = https://github.com/dfx-finance/contracts.git
[submodule "dfxattack/buggy-contracts"]
	path = dfxattack/buggy-contracts
	url = https://github.com/dfx-finance/protocol-v1-deprecated.git
[submodule "marketattack/buggy-contrcts"]
	path = marketattack/buggy-contrcts
	url = https://github.com/curvefi/curve-contract.git
[submodule "marketattack/buggy-contracts"]
	path = marketattack/buggy-contracts
	url = https://github.com/curvefi/curve-contract.git
[submodule "omniattack/healthy-contracts"]
	path = omniattack/healthy-contracts
	url = https://github.com/aave/aave-v3-core.git
[submodule "omniattack/buggy-contracts/buggy-source"]
	path = omniattack/buggy-contracts/buggy-source
	url = https://github.com/aave/aave-v3-core.git
[submodule "feiattack/healthy-contracts"]
	path = feiattack/healthy-contracts
	url = https://github.com/fei-protocol/fei-protocol-core.git
[submodule "feiattack/buggy-contracts"]
	path = feiattack/buggy-contracts
	url = https://github.com/fei-protocol/fei-protocol-core.git
[submodule "beanstalkattack/buggy-contracts"]
	path = beanstalkattack/buggy-contracts
	url = https://github.com/BeanstalkFarms/Beanstalk.git
[submodule "noodleattack/buggy-contracts/buggy-contracts"]
	path = noodleattack/buggy-contracts/buggy-contracts
	url = https://github.com/1coinswap/core.git
[submodule "revestattack/healthy-contracts"]
	path = revestattack/healthy-contracts
	url = https://github.com/Revest-Finance/RevestContracts.git
[submodule "revestattack/buggy-contracts"]
	path = revestattack/buggy-contracts
	url = https://github.com/Revest-Finance/RevestContracts.git
[submodule "hundredattack/buggy-contracts"]
	path = hundredattack/buggy-contracts
	url = https://github.com/smartcontractkit/LinkToken.git
[submodule "paraluniattack/buggy-contracts"]
	path = paraluniattack/buggy-contracts
	url = https://github.com/paraluni/para-contract.git
