[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "qbridgeattack/chainbridge-solidity"]
	path = qbridgeattack/chainbridge-solidity
	url = https://github.com/ChainSafe/chainbridge-solidity.git
[submodule "qbridgeattack/healthy-contracts"]
	path = qbridgeattack/healthy-contracts
	url = https://github.com/ChainSafe/chainbridge-solidity.git
[submodule "qbridgeattack/-b"]
	path = qbridgeattack/-b
	url = https://github.com/ChainSafe/chainbridge-solidity.git
[submodule "qbridgeattack/buggy-contracts"]
	path = qbridgeattack/buggy-contracts
	url = https://github.com/ChainSafe/chainbridge-solidity.git
[submodule "lifiattack/healthy-contracts"]
	path = lifiattack/healthy-contracts
	url = https://github.com/lifinance/contracts.git
[submodule "lifiattack/buggy-contracts"]
	path = lifiattack/buggy-contracts
	url = https://github.com/lifinance/contracts.git
[submodule "meterattack/buggy-contracts"]
	path = meterattack/buggy-contracts
	url = https://github.com/Uniswap/v2-periphery.git
[submodule "meterattack/healthy-contracts"]
	path = meterattack/healthy-contracts
	url = https://github.com/Uniswap/v3-periphery.git
